@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap');


//Overriding Bootstrap variables.
$primary: #7f433e;
$secondary: #e8ccb2;
$light: #a83227;
@import '~bootstrap/scss/bootstrap.scss';


h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 2.8rem;
}
.h1{
  font-size:3rem;
}
.hero-section {
  width: 100%;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  background-image: url("imgs/hero-background.jpg");
  background-size: cover;

  h2 {
    position: relative;
    font-size: 5vw;

  }

}

.browse-button {
  font-size: 100%;
  height: 8vh;

}


body {
  margin: 0;
  font-family: 'Noto Serif Khojki', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#item-container,
header h1 {
  color: $primary;
}

#item-container:first-of-type {
  background-image: url("imgs/items_background_1.jpg");
  background-size: cover;
}

#item-container:last-of-type {
  background-image: url("imgs/items_background_2.jpg");
  background-size: cover;
}

#categories-section {
  background-image: url("imgs/cat_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  img:hover {
    background-color: rgba(128, 128, 128, 0.407);
  }
}

.item-cover {
  position: absolute;
  object-fit: cover;
  z-index: 1;
  bottom: 0.1%;
  right: 0.1%;
  background-color: rgba(0, 0, 0, 0);
  
}

.item-cover:hover {
  background-color: rgba(255, 255, 255, 0.596);
}



#categories-section {
  color: $secondary;
  img {
    background-color: $secondary;
  }
}

footer {
  background-image: url('imgs/cat_background.jpg');
  background-size: cover;
  overflow: hidden;
}

footer h6 {
  color: $secondary;
}